<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Pedidos</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" id ="buttonProducts" #enlaceProductos href="#products" data-toggle="tab">
                                            <i class="material-icons">list</i> Productos
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#MiPedido" data-toggle="tab">
                                            <i class="material-icons">list</i> Mis pedidos
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" *ngIf="skBool" href="#shopKart"
                                            data-toggle="tab">
                                            <i class="material-icons">shopping_cart_checkout</i> Carrito
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <mat-progress-bar mode="indeterminate" *ngIf="barbool"></mat-progress-bar>
                        <div class="tab-content" id="tableTracking">
                            <div class="tab-pane active" id="products">
                                <div class="row">
                                    <div class="col-md-3" *ngFor="let prd of products">
                                        <div class="card">
                                            <img src={{prd.imagen}}>
                                            <div class="card-body">
                                                <h3 class="card-title">{{ prd.nombre }}</h3>
                                                <h5 class="card-text">{{ prd.descrripcion }}</h5>
                                                <p class="card-text">Q{{ prd.subtotal }}</p>
                                                <div class="row">
                                                    <p>Cantidad: </p>
                                                    <button mat-button (click)="cont('-',prd)">-</button>
                                                    <p>{{prd.cantidad}}</p>
                                                    <button mat-button (click)="cont('+',prd)">+</button>
                                                </div>
                                                <button mat-mini-fab color="primary" matTooltip="Agregar al carrito"
                                                    class="btn btn-primary" (click)="addKartShop(prd)">
                                                    <i class="material-icons">add_shopping_cart</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="MiPedido">
                                <div class="text-center">
                                    <div class="h3">Consulta tu pedido</div>
                                    <p>Por favor ingresa tu numero de pedido y tu correo electronico</p>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="No. Pedido" type="number"
                                                [(ngModel)]="myIdPedido">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Email" type="email"
                                                [(ngModel)]="myEmailPedido">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-4">
                                        <button mat-raised-button color="primary" (click)="viewPedido()"><i class="material-icons">payments</i>
                                            Aceptar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="shopKart">
                                <!-- <cdk-virtual-scroll-viewport tvsItemSize class="wrapper mat-elevation-z2"> -->
                                <div class="table-responsive table-container">
                                    <mat-table [dataSource]="dsKartShop" class="table">
                                        <ng-container matColumnDef="id" class="table-header">
                                            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                <p style="color:#66ad5f; margin-bottom: 0rem;">{{element.id}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="Producto">
                                            <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.nombre}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="Precio">
                                            <mat-header-cell *matHeaderCellDef> Precio</mat-header-cell>
                                            <mat-cell *matCellDef="let element">Q {{element.precio}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="Cantidad">
                                            <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
                                            <mat-cell *matCellDef="let element">{{element.cantidad}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="subtotal">
                                            <mat-header-cell *matHeaderCellDef>Subtotal</mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                {{element.subtotal}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="Action">
                                            <mat-header-cell *matHeaderCellDef>Accion</mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                <button (click)="deleteRow(element.id)" mat-raised-button type="button"
                                                    matTooltip="Borrar Producto" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsDSKartShop">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsDSKartShop;">
                                        </mat-row>
                                        <!-- <mat-footer-row *matFooterRowDef="displayedColumnsDSKartShop; sticky: true"></mat-footer-row> -->
                                    </mat-table>
                                    <br>
                                    <button mat-raised-button color="primary" (click)="openModal()"><i
                                            class="material-icons">payments</i>
                                        Realizar Pedido</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>