<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="!sesion">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Inicio de Sesion</h4>
          <p class="card-category">Por favor inicia sesion</p>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Usuario" type="text" [(ngModel)]="user" autocomplete="nope">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass" autocomplete="new-password">
              </mat-form-field>
              <div class="row justify-content-center">
                <button mat-raised-button color="primary" (click)="login()"><i class="fa-solid fa-key"></i>
                  Iniciar Sesion</button>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="sesion" id="logout">
      <div class ="col text-right">
        <button mat-button color="primary" (click)="logout()"><i class="fa-solid fa-key"></i>
          Cerrar Sesion</button>
      </div>
    </div>
    <div class="row" *ngIf="sesion" id="myrow">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Mantenimiento productos
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'Ocultar' : 'Ver'}} Detalles productos
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card">
            <div class="card-header card-header-tabs card-header-danger">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Pedidos</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a mat-button class="nav-link active" href="#products" data-toggle="tab">
                        <i class="material-icons">list</i> Productos
                      </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a mat-button class="nav-link" href="#MiPedido" data-toggle="tab">
                        <i class="material-icons">list</i> Mis pedidos
                      </a>
                    </li> -->
                    <!-- <li class="nav-item">
                                          <a mat-button class="nav-link" *ngIf="skBool" href="#shopKart"
                                              data-toggle="tab">
                                              <i class="material-icons">shopping_cart_checkout</i> Carrito
                                          </a>
                                      </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <mat-progress-bar mode="indeterminate" *ngIf="barbool"></mat-progress-bar>
              <div class="tab-content" id="tableTracking">
                <div class="tab-pane active" id="products">
                  <!-- <div class="row">
                        <div class="col-md-3" *ngFor="let prd of products">
                          <div class="card">
                            <img src="ruta/imagen/{{ prd.id }}" class="card-img-top" alt="{{ prd.nombre }}">
                            <div class="card-body">
                              <h3 class="card-title">{{ prd.nombre }}</h3>
                              <h5 class="card-text">{{ prd.descrripcion }}</h5>
                              <p class="card-text">Q{{ prd.subtotal }}</p>
                              <div class="row">
                                <p>Cantidad: </p>
                                <button mat-button (click)="cont('-',prd)">-</button>
                                <p>{{prd.cantidad}}</p>
                                <button mat-button (click)="cont('+',prd)">+</button>
                              </div>
                              <button mat-mini-fab color="primary" matTooltip="Agregar al carrito" class="btn btn-primary"
                                (click)="addKartShop(prd)">
                                <i class="material-icons">add_shopping_cart</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div> -->
                  <div class="table-responsive table-container">
                    <mat-table [dataSource]="products" class="table">
                      <ng-container matColumnDef="id" class="table-header">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <p style="color:#66ad5f; margin-bottom: 0rem;">{{element.id}}
                          </p>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="producto">
                        <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombre}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="precio">
                        <mat-header-cell *matHeaderCellDef> Precio</mat-header-cell>
                        <mat-cell *matCellDef="let element">Q {{element.precio}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <p style="color:#66ad5f;" *ngIf="element.disponible==true">Disponible</p>
                          <p style="color:#d04242;" *ngIf="element.disponible==false">No Disponible</p>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Accion</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button (click)="editRow(element)" mat-raised-button type="button"
                            matTooltip="Editar Producto" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                          <button (click)="deleteRow(element)" mat-raised-button type="button"
                            matTooltip="Borrar Producto" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">delete</i>
                          </button>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                      <!-- <mat-footer-row *matFooterRowDef="displayedColumnsDSKartShop; sticky: true"></mat-footer-row> -->
                    </mat-table>
                    <br>
                    <button mat-raised-button color="primary" (click)="addProduct()"><i class="material-icons">add</i>
                      Agregar Producto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenStatePedidos = true" (closed)="panelOpenStatePedidos = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Mantenimiento pedidos
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenStatePedidos ? 'Ocultar' : 'Ver'}} Detalles pedidos
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card">
            <div class="card-header card-header-tabs card-header-danger">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Pedidos</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a mat-button class="nav-link active" href="#pedidos" data-toggle="tab">
                        <i class="material-icons">list</i> Productos
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <mat-progress-bar mode="indeterminate" *ngIf="barbool"></mat-progress-bar>
              <div class="tab-content" id="tableTracking">
                <div class="tab-pane active" id="pedidos">
                  <div class="card" *ngFor="let ped of pedidos">
                    <div class="card-header">
                      <h3 class="card-title">Pedido No. {{ ped.idPedido }}</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <h4><i class="material-icons">person</i> {{ ped.nombre }}</h4>
                          <p><i class="material-icons">home</i> {{ ped.direccion }}</p>
                          <p><i class="material-icons">mail</i> {{ ped.email }}</p>
                          <p><i class="material-icons">call</i> {{ ped.telefono }}</p>
                          <p><i class="material-icons">calendar_month</i> Fecha creación: {{ ped.fechaPedido | date: 'dd/MM/yy' }}</p>
                        </div>
                        <div class="col-md-6">
                          <p *ngIf="ped.metodoPago === 'cash'"><i class="material-icons">money</i> Pago en Efectivo</p>
                          <p *ngIf="ped.metodoPago === 'target'"><i class="material-icons">credit_card</i> Pago con Tarjeta</p>
                          <p *ngIf="ped.tipoEntrega === 'SH'"><i class="material-icons">local_shipping</i> Entrega en domicilio</p>
                          <p *ngIf="ped.tipoEntrega === 'PS'"><i class="material-icons">local_mall</i> Entrega en tienda</p>
                          <p *ngIf="ped.estado === 'Proceso'"><i class="material-icons">pending</i> {{ ped.estado }}</p>
                          <p *ngIf="ped.estado === 'Aceptado'"><i class="fa-solid fa-truck-fast"></i> {{ ped.estado }}</p>
                          <p *ngIf="ped.estado === 'Rechazado'"><i class="fa-solid fa-circle-xmark"></i> {{ ped.estado }}</p>
                          <p *ngIf="ped.estado === 'Entregado'"><i class="fa-solid fa-circle-check"></i> {{ ped.estado }}</p>
                          <p><i class="fa-solid fa-money-bill-wave"></i> Total a pagar: Q {{ ped.total }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h3>Detalles del Pedido:</h3>
                        </div>
                      </div>
                      <div class="row" *ngFor="let dps of ped.detalle">
                          <div class="col-md-3">
                            <p>Producto: {{dps.nombre}}</p>
                          </div>
                          <div class="col-md-3"> <p>Precio: {{dps.precio}}</p></div>
                          <div class="col-md-3"> <p>Cantidad: {{dps.cantidad}}</p></div>
                          <div class="col-md-3"> <p>Subtotal: {{dps.subtotal}}</p></div>
                        <hr>
                      </div>
                      <mat-card-actions align="end">
                        <button mat-button (click)="modifyStatusPed( ped.idPedido,'Aceptado')">Aceptado</button>
                        <button mat-button (click)="modifyStatusPed( ped.idPedido, 'Entregado')">Entregado</button>
                        <button mat-button (click)="modifyStatusPed( ped.idPedido, 'Rechazado')">Rechazado</button>
                      </mat-card-actions>
                    </div>
                  </div>
                  <!-- <div class="table-responsive table-container">
                    <mat-table [dataSource]="pedidos" class="table">
                      <ng-container matColumnDef="id" class="table-header">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <p style="color:#66ad5f; margin-bottom: 0rem;">{{element.id}}
                          </p>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="producto">
                        <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombre}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="precio">
                        <mat-header-cell *matHeaderCellDef> Precio</mat-header-cell>
                        <mat-cell *matCellDef="let element">Q {{element.precio}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <p style="color:#66ad5f;" *ngIf="element.disponible==true">Disponible</p>
                          <p style="color:#d04242;" *ngIf="element.disponible==false">No Disponible</p>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Accion</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button (click)="editRow(element)" mat-raised-button type="button"
                            matTooltip="Editar Producto" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">edit</i>
                          </button>
                          <button (click)="deleteRow(element)" mat-raised-button type="button"
                            matTooltip="Borrar Producto" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">delete</i>
                          </button>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                    </mat-table>
                    <br>
                    <button mat-raised-button color="primary" (click)="addProduct()"><i class="material-icons">add</i>
                      Agregar Producto</button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>